:root {
    --logo-color: #A52D3B;
    --form-color: #fcf3ed;
    --aside-color: #F8C471;

}
*{
    margin: 0;
    padding: 0;
    /* border: 1px solid yellow; */
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;

}
/* SECCION DE TITULO Y LOGO */
header{
    width: 100%;
    height: 15vh;
    border-top: 2px solid var(--logo-color);
    vertical-align: middle;
    text-align: center

}
h1 {
    font-size: 30px;
    justify-content: flex-end;
    display: inline-block;
    vertical-align: middle;
    color: var(--logo-color);
    font-family: 'Amatic SC', cursive;

}
header img {

    width: 60px;
    justify-content: flex-start;
    display: inline-block;
    vertical-align: middle;

}
/* SECCION DE TITULO Y LOGO */


.form{
    width: 50%;
    height: 60vh;
    display: inline-block;
    background-color: var(--form-color);
    vertical-align: top;
    font-size: 20px;
    padding-left: 20px;
}

#submit{
    border-radius: 5px;
    padding: 4px;
    
}
.img-sushiland{
    width: 50%;

}
#confirm-button{
    border-radius: 5px;
    padding: 4px;
}

aside {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: var(--aside-color);
    text-align: center;

}
aside ul{
width: 100%;
height: 100%;
}

section{
    width: 100%;
    height: 30vh;

}
footer{
    width: 100%;
    height: 30vh;

}

@media screen and (max-width:768px) {
    .form{
        width: 100%;
        font-size: 20px;
        background-color: var(--form-color);
    }
    aside{
        width: 100%;
        background-color: var(--aside-color);
        text-align: center;

    }
}