:root {
    --logo-color: #A52D3B;

}
*{
    margin: 0;
    padding: 0;
    /* border: 1px solid yellow; */
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;

}
header{
    width: 100%;
    height: 10vh;
    border-top: 2px solid var(--logo-color);
    vertical-align: middle;
    text-align: center

}
h1 {
    font-size: 25px;
    justify-content: flex-end;
    display: inline-block;
    vertical-align: middle;
    color: var(--logo-color);
    font-family: 'Amatic SC', cursive;

}
header img {

    width: 40px;
    justify-content: flex-start;
    display: inline-block;
    vertical-align: middle;


}
.form{
    width: 50%;
    height: 60vh;
    display: inline-block;
    background-color: var(--secondary-color);
    vertical-align: top;

}
aside {
    width: 50%;
    height: 60vh;
    display: inline-block;
    vertical-align: top;

}
section{
    width: 100%;
    height: 30vh;

}
footer{
    width: 100%;
    height: 30vh;

}

@media screen and (max-width:768px) {
    body{
        /* border: 10px solid green; */
    }
}